* {
    background-color: rgb(154, 167, 167);
}

h1 {
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px; 
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    row-gap: 55px;
    column-gap: 10px;
   }
   .grid img{
       max-width: 100%;
   }
   .reset-button{
       text-align: center;
       padding: 100px;
   }

